.table_content_td {
  font-size: 10px;
  padding: 1px !important;
}

.btn_cont {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.btn_actions {
  width: 40px;
  font-size: 9px;
  padding: 2px 4px !important;
  border-radius: 3px;
}

.more_info {
  max-width: 30px;
}
